services:
  timescaledb:
    image: timescale/timescaledb:2.23.0-pg16
    container_name: 3dmes-timescaledb
    restart: unless-stopped
    environment:
      POSTGRES_DB: ${TS_DB}
      POSTGRES_USER: ${TS_USER}
      POSTGRES_PASSWORD: ${TS_PASSWORD}
      TIMESCALEDB_TELEMETRY: "off"
    volumes:
      - ${PFAD}/timescale/timescale_data:/var/lib/postgresql/data
    networks:
      - mesnet

    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${TS_USER:-mesuser} -d ${TS_DB:-mesdb}"]
      interval: 10s
      timeout: 5s
      retries: 5

  3dmes:
    image: xhbtec/3dmes:latest
    container_name: 3dmes-app
    restart: unless-stopped
    depends_on:
      timescaledb:
        condition: service_healthy
    environment:
      ASPNETCORE_ENVIRONMENT: ${ASPNETCORE_ENVIRONMENT:-Production}
      ConnectionStrings__DefaultConnection: "Host=timescaledb;Port=5432;Database=${TS_DB};Username=${TS_USER};Password=${TS_PASSWORD}"
      ASPNETCORE_URLS: "http://+:80;https://+:443"
      
      # Admin Konfiguration
      ADMIN_USERNAME: ${ADMIN_USERNAME:-admin}
      ADMIN_PASSWORD: ${ADMIN_PASSWORD:-}
      ADMIN_EMAIL: ${ADMIN_EMAIL:-admin@local}
      
      # Zusätzliche IP-Adresse für SSL-Zertifikat
      ADDITIONAL_IP: ${ADDITIONAL_IP:-}
      
      # PrintPortal Konfiguration
      PrintPortal__CertificateStoragePath: /app/cert
      PrintPortal__AutoRenewalCheckIntervalHours: 24
    networks:
      - mesnet
    ports:
      - "${HTTP_PORT:-80}:80"
      - "${HTTPS_PORT:-443}:443"
      - "${MQTT_PORT:-1883}:1883"
      - "${MQTTS_PORT:-8883}:8883"
    volumes:
      - ${PFAD}/app/uploads:/app/uploads
      - ${PFAD}/app/cert:/app/cert

  db-backup-api:
    image: xhbtec/db-backup:latest
    container_name: 3dmes-db-backup-api
    restart: unless-stopped
    depends_on:
      timescaledb:
        condition: service_healthy
    environment:
      POSTGRES_HOST: timescaledb
      POSTGRES_PORT: ${TS_PORT:-5432}
      POSTGRES_DB: ${TS_DB:-mesdb}
      POSTGRES_USER: ${TS_USER:-mesuser}
      PGPASSWORD: ${TS_PASSWORD}
      POSTGRES_PASSWORD: ${TS_PASSWORD}
      BACKUP_PREFIX: ${TS_DB:-mesdb}
      FLASK_ENV: ${FLASK_ENV:-production}
      FLASK_PORT: 5000
      BACKUP_DIRECTORY: /backups
    volumes:
      - ${PFAD}/backup/backups:/backups
      - ${PFAD}/backup/uploads:/uploads

    networks:
      - mesnet

networks:
  mesnet:
    driver: bridge

volumes:
  timescale_data:
  uploads:
  backups:
